# IGNORE (Everything by Default)
*
!/*

# KEEP (License)
!/LICENSE.txt

# KEEP (Gradle Subprojects)
!mew-tea-f8-*/**

# KEEP (Gradle Configuration)
!build.gradle.kts
!settings.gradle.kts
!gradle.properties

# KEEP (Gradle Wrapper)
!gradle/
!gradlew
!gradlew.bat

# KEEP (This File)
!/.gitignore

# IGNORE (Gradle Builds)
**/build